
<div class="header">
    <div class="layout-positioner">
        <a class="main-logo" href="#">
            <img src="~/Content/glossary-logo.png" alt="LOGO" />
        </a>
        <div class="layout-collumn">
            <a class="btn btn-default signin-button" href="#" title="Вход">
                Вход
            </a>
            <a class="btn btn-default register-button" href="#" title="Регистрация">
                Регистрация
            </a>
        </div>
    </div>
</div>