
<div class="header">
    <div class="layout-positioner">
        <a class="main-logo" href="#">
            <img src="~/Content/glossary-logo.png" alt="LOGO" />
        </a>
        <div class="layout-collumn">
            <a class="btn btn-default signin-button" href="#" title="@GlobalRes.SignIn">
                @GlobalRes.SignIn
            </a>
            <a class="btn btn-default register-button" href="#" title="@GlobalRes.Registration">
                @GlobalRes.Registration
            </a>
        </div>
    </div>
</div>