@model int

@{
    var elementsPerPage = int.Parse(Request.QueryString["count"] ?? Session["ElementsPerPage"].ToString());
    var pages = (int)Math.Ceiling((double)Model/elementsPerPage);

    int curPage;
    int.TryParse(Request["page"], out curPage);
    if (curPage == 0)
    {
        curPage = 1;
    }
}

<div class="navigation-container">
    @for (var i = 1; i <= pages; i++)
    {
        if (i == curPage)
        {
            @Html.ActionLink(i.ToString(), "GlossariesMainPage", new { page = i, count = elementsPerPage }, new {@class = "selected"})
        }
        else
        {
            @Html.ActionLink(i.ToString(), "GlossariesMainPage", new {page = i, count = elementsPerPage})
        }
        
    }
</div>