@model int

@{
    var elementsPerPage = int.Parse(Session["ElementsPerPage"].ToString());
    var pages = (int)Math.Ceiling((double)Model / elementsPerPage);
    var id = decimal.Parse(Session["GlossaryId"].ToString());
    var langId = decimal.Parse(Session["LanguageId"].ToString()); 
    
    int curPage;
    int.TryParse(Request["page"], out curPage);
    if (curPage == 0)
    {
        curPage = 1;
    }
}

<div class="navigation-container">
    @for (var i = 1; i <= pages; i++)
    {
        if (i == curPage)
        {
            @Html.ActionLink(i.ToString(), "AddPhrasesToGlossary", new {page = i, count = elementsPerPage, id, langId}, new {@class = "selected"})
        }
        else
        {
            @Html.ActionLink(i.ToString(), "AddPhrasesToGlossary", new {page = i, count = elementsPerPage, id, langId})
        }
    }
</div>